#home-route{
  width: 100vw;
  overflow: hidden;

  

}
.home-left{
  
  position: relative;
  top: 5rem;
}
.container{
  
  display: flex;

  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  
  
  height: 100vh;
  

}


 

.image-container{
  
 
  min-width: 400px;
  
} 


.image{
  position: relative;
  
  flex-wrap: wrap;
 
  margin: 10em;
  

 
  max-width: 250px;
  clip-path: circle();
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  

  
}
.image:hover{
  transform: scale(1.5);
}
h1{
  font-family: var(--main-family);
  font-weight: bold;
  font-size: 50px;
}
p{
  font-size: 30px;
}
.icon{
  width: 20px;
  height : 20px;
  margin-left: 20px;
  transition: transform 0.5s ease-in-out;

}
.icons{
  position: relative;
  bottom: 8rem;
  
}
.icon:hover{
  transform: scale(1.5);

}

@media screen and (max-width:600px) {
  .image{
    position: relative;
    right: 5rem;
  }
  .home-left{
    margin-top: 9rem;
  }

  
}