:root{
    --regular:'Poppins', sans-serif;
    --thin:'Montserrat', sans-serif;
    --bold:'Roboto', sans-serif;
  }
.about{
    
    display: flex;
    height: 100vh;
    
  
    position: relative;
    top: 10vh;
    overflow: hidden;
    text-align: start;
}

.about-left{
    padding: 2rem;
    margin: 5em;
}
button{
    border-radius: 2px;
    background-color: white;
}
.about-title {
    font-size: 30px;
}

button{
    background-color: var(--main);
    font-family: var(--main-family);
    padding: 1rem;
    color: white;
}
button:hover{
    background-color: #2C5364;
    transition: 0.5s ease-in-out;
    border: 1px solid transparent;
}
@media only screen and (max-width: 600px) {
   .about{
    display: flex;
    flex-direction: column;
    height: max-content;
    
   }
   .about-right{
    text-align: center;
   }
   .about-right p{
    text-align: center;
    font-size: 20px;
    padding: 10px;

   }
   button{
    margin-left: 40px;
   }
   
    
}